@(registroJogadorDTO: play.data.Form[dtos.RegistroJogadorDTO])(implicit request: Http.Request)

@import helper._
@import templates._

@main("Counter Strike Stats | Registro do status do jogador na partida") {

    <div class="card shadow rounded">

        <div class="card-header">
            <h4 class="mb-0">Registro do status do jogador na partida</h4>
        </div>

        <div class="card-body">
            <form id="formularioRegistro" method="post">

                <div class="mb-3">
                    <label for="name" class="form-label">Jogador</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome do jogador" required />
                </div>

                <div class="mb-3">
                    <label for="qtdEliminacoes" class="form-label">Quantidade de eliminações</label>
                    <input type="number" class="form-control" id="qtdEliminacoes" name="qtdEliminacoes" placeholder="Quantidade de eliminações  na partida" min="0" required />
                </div>

                <div class="mb-3">
                    <label for="qtdBaixas" class="form-label">Quantidade de Baixas</label>
                    <input type="number" class="form-control" id="qtdBaixas" name="qtdBaixas" placeholder="Quantidade de Baixas  na partida" min="0" required />
                </div>

                <div class="mb-3">
                    <label for="qtdDano" class="form-label">Quantidade de Dano</label>
                    <input type="number" class="form-control" id="qtdDano" name="qtdDano" placeholder="Dano causado na partida" min="0" required />
                </div>

                <p class="text-muted mb-4">* Todos os campos são obrigatórios</p>

                <button id="registrar" name="registrar" type="button" class="btn btn-success">Registrar</button>
                <a id="cancelar" type="button" class="btn btn-default" href="@routes.EstatisticaController.telaInicio" >Cancelar</a>

            </form>
        </div>

    </div>

}