@(registroJogadorDTO: play.data.Form[dtos.RegistroJogadorDTO])(implicit request: Http.Request)

@import helper._
@import templates._

@main("Counter Strike Stats | Registro do status do jogador na partida") {

    <div class="card shadow rounded">

        <div class="card-header">
            <h4 class="mb-0">Registro do status do jogador na partida</h4>
        </div>

        <div class="card-body">
            @form(routes.RegistroJogadorController.inserirRegistroJogador()) {

                @CSRF.formField

                @if(registroJogadorDTO.hasGlobalErrors()) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Aviso!</strong> @registroJogadorDTO.globalErrors().get(0).message()
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="mb-3">
                    @numero(registroJogadorDTO("qtdEliminacoes"), label = "Quantidade de eliminações:", placeholder = "Insira a quantidade de eliminações  na partida.")
                </div>

                <div class="mb-3">
                    @numero(registroJogadorDTO("qtdBaixas"), label = "Quantidade de baixas:", placeholder = "Insira a quantidade de baixas  na partida")
                </div>

                <div class="mb-3">
                    @numero(registroJogadorDTO("qtdDano"), label = "Quantidade de dano causado:", placeholder = "Insira o dano causado na partida.")
                </div>

                <button id="registrar" name="registrar" class="btn btn-success" type="submit">Registrar</button>
                <a id="cancelar" type="button" class="btn btn-default" href="@routes.EstatisticaController.telaInicio" >Cancelar</a>

            }
        </div>

    </div>

}