@(registroJogadorDTO: play.data.Form[dtos.RegistroJogadorDTO], jogadoresOptions: Map[String, String])(implicit request: Http.Request)

@import helper._
@import templates._

@main("Counter Strike Stats | Registro do status do jogador na partida") {

    <div class="card shadow rounded">

        <div class="card-header">
            <h4 class="mb-0">Registro do status do jogador na partida</h4>
        </div>

        <div class="card-body">
            @form(routes.RegistroJogadorController.inserirRegistroJogador()) {

                @CSRF.formField

                @if(registroJogadorDTO.hasGlobalErrors()) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Aviso!</strong> @registroJogadorDTO.globalErrors().get(0).message()
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="mb-3">
                    @*jogadores*@
                    @selecao(registroJogadorDTO("jogador"),
                    label = "Jogador:",
                    optionMap = jogadoresOptions,
                    isMultiple = false)
                </div>

                <div class="mb-3">
                    @numero(registroJogadorDTO("qtdEliminacoes"), label = "Quantidade de eliminações:", placeholder = "")
                </div>

                <div class="mb-3">
                    @numero(registroJogadorDTO("qtdBaixas"), label = "Quantidade de baixas:", placeholder = "")
                </div>

                <div class="mb-3">
                    @numero(registroJogadorDTO("qtdDano"), label = "Quantidade de dano causado:", placeholder = "")
                </div>

                <div class="mb-3">
                    @numero(registroJogadorDTO("porcetagemHS"), label = "Porcentagem de HS:", placeholder = "")
                </div>

                <div class="mb-3">
                    @*jogadores*@
                    @selecao(registroJogadorDTO("vitoria"),
                    label = "Status da partida:",
                    optionMap = jogadoresOptions,
                    isMultiple = false)
                </div>

                <div class="mb-3">
                    @numero(registroJogadorDTO("qtdDanoUtilitario"), label = "Quantidade de dano causado por Utilitário:", placeholder = "")
                </div>

                <div class="mb-3">
                    @numero(registroJogadorDTO("qtdInimigosCegos"), label = "Quantidade de inimigos cegos:", placeholder = "")
                </div>

                <button id="registrar" name="registrar" class="btn btn-success" type="submit">Registrar</button>
                <a id="cancelar" type="button" class="btn btn-default" href="@routes.EstatisticaController.telaInicio" >Cancelar</a>

            }
        </div>

    </div>

}
<script src="@routes.Assets.versioned("javascripts/registrojogadores/main.js")"></script>