# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Projects aux files
/target
.idea
.bsp
.sbtserver
project/project
project/target
/logs
deploy
/.idea