@(field: Field, label: String = "", placeholder: String = "", help: String = "")

<div class="mb-3 @if(field.hasErrors) {has-error}">
    <div class="input-group">
        <span class="input-group-text">
            <span data-bs-toggle="tooltip" title="Apenas em formato JPEG">
                <small>Apenas em formato JPEG</small>
            </span>
        </span>
        <input
            id="@field.id"
            type="file"
            name="@field.name"
            class="form-control my-form-control"
            accept="image/png, image/jpeg" required>
    </div>

    @if(field.hasErrors) {
        <div class="invalid-feedback d-block">
            @{field.error.map(_.message)}
        </div>
    }
</div>