@(field: Field, label: String = "", placeholder: String = "", help: String = "")

<div class="mb-3">
    <label for="@field.id" class="form-label">
        @label
    </label>
    <input type="number"
           class="form-control @if(field.hasErrors) {is-invalid}"
           autocomplete="off"
           id="@field.id"
           name="@field.name"
           min="0"
           value="@field.value.getOrElse("")" placeholder="@placeholder"/>
    <div class="invalid-feedback">
        <small>@{field.error.map { error => error.message }}</small>
    </div>
</div>