<?xml version="1.0" encoding="UTF-8"?>

<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<!DOCTYPE configuration>

<configuration>

<!-- Codificação padrão -->
<property name="LOG_PATH" value="${application.home:-.}/logs"/>
<property name="FILE_NAME" value="application.log"/>

<!-- Appender de arquivo -->
<appender name="FILE" class="ch.qos.logback.core.FileAppender">
  <file>${LOG_PATH}/${FILE_NAME}</file>
  <append>true</append>
  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    <charset>UTF-8</charset>
  </encoder>
</appender>

<!-- Appender de console -->
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
    <pattern>%highlight(%-5level) %logger{15} - %msg%n%xException{5}</pattern>
    <charset>UTF-8</charset>
  </encoder>
</appender>

<!-- Assíncronos -->
<appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
  <appender-ref ref="FILE"/>
  <queueSize>500</queueSize>
  <discardingThreshold>0</discardingThreshold>
</appender>

<appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
  <appender-ref ref="STDOUT"/>
  <queueSize>500</queueSize>
  <discardingThreshold>0</discardingThreshold>
</appender>

<!-- Loggers específicos -->
<logger name="play" level="INFO"/>
<logger name="application" level="DEBUG"/>
<logger name="controllers" level="DEBUG"/>
<logger name="repositories" level="DEBUG"/>

<!-- Logger raiz -->
<root level="WARN">
  <appender-ref ref="ASYNCFILE"/>
  <appender-ref ref="ASYNCSTDOUT"/>
</root>

</configuration>