@(estatistica: dtos.EstatisticaJogadorDTO, request: Http.Request)

@import helper._
@import templates._

@main("Counter Strike Stats | Detalhe do Jogador") {

<div class="card shadow rounded">

    <div class="card-header">
        <h4 class="mb-0">Detalhar Jogador</h4>
    </div>

    <div class="card-body">

        <h1 class="text-center mb-4">XXXXXXXXXXXXX FERA XXXXXXXXXX</h1>

        <!-- Card stats -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total de Dano</span>
                                <span class="h3 font-bold mb-0">eargregerg</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total de Eliminações</span>
                                <span class="h3 font-bold mb-0">aergege</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total de Baixas</span>
                                <span class="h3 font-bold mb-0">aergaegaegr</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Porcentagem de HS</span>
                                <span class="h3 font-bold mb-0">aergaerge %</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card stats -->
        <div class="row mt-4">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total de Vitória</span>
                                <span class="h3 font-bold mb-0">aergaergeg</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Mapa mais jogado</span>
                                <span class="h3 font-bold mb-0">aergaeg</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">KDR</span>
                                <span class="h3 font-bold mb-0">areaeg</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card stats -->
        <div class="row mt-4">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Inimigos Cegos</span>
                                <span class="h3 font-bold mb-0">aerae</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Dano Por Utilitário</span>
                                <span class="h3 font-bold mb-0">gerg</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

}
<script src="@routes.Assets.versioned("javascripts/jogadores/main.js")"></script>