@(rankJogadores: List[dtos.RankJogadorDTO],request: Http.Request)

@main("Counter Strike Stats | Rank Geral") {

    @request.flash.asScala().get("error").map { successFlashValue =>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Aviso!</strong> @successFlashValue
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="card shadow rounded">

        <div class="card-header">
            <h4 class="mb-0">Rank Geral dos Jogadores</h4>
        </div>

        <div class="card-body">

            @request.flash.asScala().get("success").map { successFlashValue =>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Aviso!</strong> @successFlashValue
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            }

        @if(rankJogadores.isEmpty()) {
            <div class="card card-body bg-light">
                <em>Por favor, faça o registro de partidas e tente novamente. <a href="@routes.RegistroPartidaJogadorController.listar()">Clique Aqui</a></em>
            </div>
        } else {
            <table id="tabelaRank" class="table table-bordered table-striped table-hover">
                <thead class="table-light">
                <tr>
                    <th>Nick</th>
                    <th>Kills</th>
                    <th>Death</th>
                    <th>Kills/Game</th>
                    <th>KDR</th>
                    <th>Dano</th>
                    <th>Jogos</th>
                    <th>Dano/Game</th>
                    <th>HS</th>
                    <th>DU/Game</th>
                    <th>IC/Game</th>
                    <th>Vitórias</th>
                    <th>Porcentagem de Vitórias</th>
                </tr>
                </thead>
                <tbody>
                    @for(jogador <- rankJogadores) {
                        <tr>
                            <td>@jogador.getNome()</td>
                            <td>@jogador.getTotalQtdEliminacoes()</td>
                            <td>@jogador.getTotalQtdBaixas()</td>
                            <td>@jogador.getEliminacoesPorGame</td>
                            <td>@jogador.getTotalKdr()</td>
                            <td>@jogador.getTotalQtdDano()</td>
                            <td>@jogador.getTotalQuantidadePartidas()</td>
                            <td>@jogador.getDanoPorGame()</td>
                            <td>@jogador.getTotalMaiorPorcetagemHS() %</td>
                            <td>@jogador.getDanoUtilPorGame()</td>
                            <td>@jogador.getInimigosCegosPorGame()</td>
                            <td>@jogador.getQuantidadeVitorias()</td>
                            <td>@jogador.getPorcentagemVitoria() %</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>

    }

}

<style>
    th.asc::after {
        content: " ▲";
        font-size: 0.8em;
    }
    th.desc::after {
        content: " ▼";
        font-size: 0.8em;
    }
</style>

<script src="@routes.Assets.versioned("javascripts/ranks/main.js")"></script>