@(listForm: DynamicForm, jogadoresOptions: Map[String, String], rankJogadores: dtos.RankJogadorDTO, request: Http.Request)

@main("Counter Strike Stats | Rank Geral") {

    @request.flash.asScala().get("error").map { successFlashValue =>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Aviso!</strong> @successFlashValue
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="card shadow rounded">

        <div class="card-header">
            <h4 class="mb-0">Rank Geral dos Jogadores</h4>
        </div>

        <div class="card-body">

            @request.flash.asScala().get("success").map { successFlashValue =>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Aviso!</strong> @successFlashValue
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <table class="table table-bordered table-striped table-hover">
                <thead class="table-light">
                <tr>
                    <th>Nick</th>
                    <th>Kills</th>
                    <th>Death</th>
                    <th>Kills/Game</th>
                    <th>KDR</th>
                    <th>Dano</th>
                    <th>Jogos</th>
                    <th>Dano/Game</th>
                    <th>%HS</th>
                    <th>DU/Game</th>
                    <th>IC/Game</th>
                    <th>Vitórias</th>
                    <th>%Vitórias</th>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>teste</td>
                        <td>teste</td>
                        <td>Teste</td>
                        <td>teste</td>
                        <td>teste</td>
                        <td>Teste</td>
                        <td>teste</td>
                        <td>teste</td>
                        <td>Teste</td>
                        <td>teste</td>
                        <td>teste</td>
                        <td>Teste</td>
                        <td>teste</td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>

}

<script src="@routes.Assets.versioned("javascripts/ranks/main.js")"></script>