@()

@main("Counter Strike Stats | Cadastrar Estatísticas") {

<div class="card shadow rounded">
    <div class="card-header">
        <h4 class="mb-0">Registro do status do jogador</h4>
    </div>
    <div class="card-body">
        <form id="formularioRegistro" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome do jogador" required />
            </div>

            <div class="mb-3">
                <label for="kills" class="form-label">Kills</label>
                <input type="number" class="form-control" id="kills" name="kills" placeholder="Quantidade de eliminações" min="0" required />
            </div>

            <div class="mb-3">
                <label for="deaths" class="form-label">Deaths</label>
                <input type="number" class="form-control" id="deaths" name="deaths" placeholder="Quantidade de mortes" min="0" required />
            </div>

            <div class="mb-3">
                <label for="damage" class="form-label">Damage</label>
                <input type="number" class="form-control" id="damage" name="damage" placeholder="Dano causado" min="0" required />
            </div>

            <p class="text-muted mb-4">* Todos os campos são obrigatórios</p>

            <button id="registrar" name="registrar" type="button" class="btn btn-success">Registrar</button>
            <button id="cancelar" name="listar" type="button" class="btn btn-primary"  >Cancelar</button>

        </form>
    </div>
</div>

}