@(listForm:DynamicForm,jogadoresOptions: Map[String, String], estatistica:dtos.EstatisticaJogadorDTO)

@main("Counter Strike Stats | Estatísticas por Jogador") {

<header class="bg-surface-primary pt-6">
    <div class="mb-npx">
        <div class="col-xl-8">
            <h1 class="bd-title mt-0">Estatísticas por Jogador</h1>
        </div>
    </div>
</header>

<div class="row g-3 align-items-center mb-3">
    <div class="col-md-6">
        <form class="row g-2" action="@routes.EstatisticaController.obterEstatisticaJogador()" method="GET">
            <div class="col-auto">
                <select class="form-select" name="filterJogador" id="filterJogador">
                    <option value="">-- Selecione um jogador --</option>
                    @for((id, nome) <- jogadoresOptions) {
                        <option value="@id">@nome</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" id="searchsubmit" class="btn btn-primary">Filtrar</button>
            </div>
        </form>
    </div>
</div>

@if(estatistica.getTotalQtdDano() == 0) {
    <p>Selecione um jogador para gerar suas estatísticas</p>
} else {
<div class="centerQ<div class="container d-flex justify-content-center align-items-center">
    <div class="card profile-card mt-4 mb-4">
        <div class="card-body text-center">
            <h3 class="card-title mb-0">Pumba</h3>
            <p class="text-muted">Jogador</p>
        </div>
    </div>
</div>
<!-- Card stats -->
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total de Dano</span>
                        <span class="h3 font-bold mb-0">@estatistica.getTotalQtdDano()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total de Eliminações</span>
                        <span class="h3 font-bold mb-0">@estatistica.getTotalQtdEliminacoes()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total de Baixas</span>
                        <span class="h3 font-bold mb-0">@estatistica.getTotalQtdBaixas()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Porcentagem de HS</span>
                        <span class="h3 font-bold mb-0">@estatistica.getTotalMaiorPorcetagemHS() %</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Card stats -->
<div class="row mt-4">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total de Vitória</span>
                        <span class="h3 font-bold mb-0">@estatistica.getQuantidadeVitorias()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Mapa mais jogado</span>
                        <span class="h3 font-bold mb-0">@estatistica.getMapaMaisJogado()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">KDR</span>
                        <span class="h3 font-bold mb-0">Calcular...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Card stats -->
<div class="row mt-4">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Inimigos Cegos</span>
                        <span class="h3 font-bold mb-0">@estatistica.getTotalQtdInimigosCegos()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card border-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Dano Por Utilitário</span>
                        <span class="h3 font-bold mb-0">@estatistica.getTotalQtdDanoUtilitario()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

}

}


<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<script src="@routes.Assets.versioned("javascripts/estatisticas/main.js")"></script>