@()

@main("Counter Strike Stats | Index") {
    <div class="p-5 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Seja bem-vindo!</h1>
            <p class="col-md-10 fs-4">Esta aplicação tem como objetivo registrar e gerar estatísticas do desempenho de jogadores da comunidade de Counter Strike 2 após o final de cada partida.</p>
            <a href="@routes.RegistroPartidaJogadorController.telaRegistroPartidaJogador()" type="button" class="btn btn-success btn-lg px-4">Inserir registros</a>
            <a href="@routes.RankController.telaInicio" class="btn btn-primary btn-lg" type="button">Acessar Rank Geral</a>
        </div>
    </div>
}