@(registroPartidaJogadorDTO: play.data.Form[dtos.RegistroPartidaJogadorDTO], jogadoresOptions: Map[String, String],
mapasOptions: Map[String, String], statusOptions: Map[String, String])(implicit request: Http.Request)

@import helper._
@import templates._

@main("Counter Strike Stats | Registro do jogador na partida") {

    <div class="card shadow rounded">

        <div class="card-header">
            <h4 class="mb-0">Registro do jogador na partida</h4>
        </div>

        <div class="card-body">
            @form(routes.RegistroPartidaJogadorController.inserirRegistroPartidaJogador()) {

                @CSRF.formField

                @if(registroPartidaJogadorDTO.hasGlobalErrors()) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Aviso!</strong> @registroPartidaJogadorDTO.globalErrors().get(0).message()
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="mb-3">
                    @*jogadores*@
                    @selecao(registroPartidaJogadorDTO("jogador"),
                    label = "Jogador:",
                    optionMap = jogadoresOptions,
                    isMultiple = false)
                </div>

                <div class="mb-3">
                    @numero(registroPartidaJogadorDTO("qtdEliminacoes"), label = "Quantidade de eliminações:", placeholder = "")
                </div>

                <div class="mb-3">
                    @numero(registroPartidaJogadorDTO("qtdBaixas"), label = "Quantidade de baixas:", placeholder = "")
                </div>

                <div class="mb-3">
                    @numero(registroPartidaJogadorDTO("qtdDano"), label = "Quantidade de dano causado:", placeholder = "")
                </div>

                <div class="mb-3">
                    @numero(registroPartidaJogadorDTO("porcetagemHS"), label = "Porcentagem de HS:", placeholder = "")
                </div>

                <div class="mb-3">
                    @*jogadores*@
                    @selecao(registroPartidaJogadorDTO("statusPartida"),
                    label = "Status da partida:",
                    optionMap = statusOptions,
                    isMultiple = false)
                </div>

                <div class="mb-3">
                    @numero(registroPartidaJogadorDTO("qtdDanoUtilitario"), label = "Quantidade de dano causado por Utilitário:", placeholder = "")
                </div>

                <div class="mb-3">
                    @numero(registroPartidaJogadorDTO("qtdInimigosCegos"), label = "Quantidade de inimigos cegos:", placeholder = "")
                </div>

                <div class="mb-3">
                    @*jogadores*@
                    @selecao(registroPartidaJogadorDTO("mapa"),
                    label = "Mapa jogado:",
                    optionMap = mapasOptions,
                    isMultiple = false)
                </div>

                <button id="registrar" name="registrar" class="btn btn-success" type="submit">Registrar</button>
                <a id="cancelar" type="button" class="btn btn-default" href="@routes.EstatisticaController.telaInicio" >Cancelar</a>

            }
        </div>

    </div>

}
<script src="@routes.Assets.versioned("javascripts/registropartidajogadores/main.js")"></script>