@(currentPage: io.ebean.PagedList[RegistroPartidaJogador],
listForm:DynamicForm,
jogadoresOptions: Map[String, String],
currentSortBy: String,
currentOrder: String,
currentFilter: String)(
implicit request: Http.Request,
messages: play.i18n.Messages)

@import helper._
@import templates._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newSortBy: String, newFilter: String = currentFilter) = @{

    var sortBy = currentSortBy
    var order = currentOrder
    var filter = currentFilter

    if (newSortBy != null) {
        sortBy = newSortBy
        if (currentSortBy == newSortBy) {
            if (currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    if (newFilter != null) {
        filter = newFilter
    }

    routes.RegistroPartidaJogadorController.listar(newPage, sortBy, order, filter)
}
@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th scope="col" class="@key.replace(".","_")">
        <a class="text-decoration-none @if(currentSortBy != key) {text-muted}" href="@link(0, key)">
            @title @sortIcon(key)
        </a>
    </th>
}

@sortIcon(key:String) = {
    @if(currentOrder == "asc") {
        <i class="fa fa-fw fa-caret-down"></i>
    } else {
        <i class="fa fa-fw fa-caret-up"></i>
    }
}

@main("Counter Strike Stats | Lista de Registro de partida dos jogadores") {

<div class="card shadow rounded">

    <div class="card-header">
        <h4 class="mb-0">Lista de Registro de partida dos jogadores</h4>
    </div>

    <div class="card-body">

        @request.flash.asScala().get("success").map { successFlashValue =>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Aviso!</strong> @successFlashValue <a href="@routes.RankController.telaInicio()">Clique aqui</a> para acessar o Rank Geral.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @request.flash.asScala().get("error").map { successFlashValue =>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Aviso!</strong> @successFlashValue
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @request.flash.asScala().get("warning").map { successFlashValue =>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Aviso!</strong> @successFlashValue
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        }

        <div class="row g-3 align-items-center mb-3">
            <div class="col-md-4">
                <form class="row g-2" action="@link(0, currentSortBy, currentFilter)" method="GET">
                    <div class="col-auto">
                        <select class="form-select" name="filterJogador" id="filterJogador" required>
                            <option value="">-- Selecione um jogador --</option>
                            @for((id, nome) <- jogadoresOptions) {
                                <option value="@id" @if(id == currentFilter) { selected }>@nome</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" id="searchsubmit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8 d-flex justify-content-end">

                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                   <!-- <a data-bs-toggle="modal" href="#modalImage" role="button" class="btn btn-success" id="importImage">Cadastrar por Imagem</a>-->
                    <a data-bs-toggle="modal" href="#modalCSV" role="button" class="btn btn-warning" id="import">Cadastrar por CSV</a>
                    <a href="@routes.RegistroPartidaJogadorController.telaRegistroPartidaJogador()" id="add" class="btn btn-success">Adicionar registro de partida</a>
                    <a data-bs-toggle="modal" href="#modalExportarCSV" role="button" class="btn btn-primary" id="export">Exportar para CSV</a>
                </div>
            </div>
        </div>

        @if(currentPage.getTotalCount == 0) {
            <div class="card card-body bg-light">

                @if(jogadoresOptions.isEmpty()) {
                    <em>Por favor, faça o registro de partidas e tente novamente. <a href="@routes.RegistroPartidaJogadorController.telaRegistroPartidaJogador()">Clique Aqui</a></em>
                }

                @for((id, nome) <- jogadoresOptions) {
                    @if(currentFilter == id) {
                        <em>Nenhuma informação encontrada com o filtro "<strong>@nome</strong>".</em>
                    }
                }

            </div>
        } else {
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-light">
                <tr>
                    <th>Jogador</th>
                    <th>Mapa</th>
                    <th>Status</th>
                    <th data-bs-toggle="tooltip" data-bs-placement="top" title="Quantidade de Eliminações">QE</th>
                    <th data-bs-toggle="tooltip" data-bs-placement="top" title="Quantidade de Baixas">QB</th>
                    <th data-bs-toggle="tooltip" data-bs-placement="top" title="Quantidade de Dano">QD</th>
                    <th data-bs-toggle="tooltip" data-bs-placement="top" title="Porcentagem de HS">% de HS</th>
                    <th data-bs-toggle="tooltip" data-bs-placement="top" title="Quantidade de Dano por Utilitário">QDU</th>
                    <th data-bs-toggle="tooltip" data-bs-placement="top" title="Quantidade de Inimigos Cegos">QIC</th>
                    @header("data_cadastro", "Data da Partida")
                </tr>
                </thead>
                <tbody>
                @for(registroPartidaJogador <- currentPage.getList.asScala) {
                    <tr>
                        <td>@registroPartidaJogador.getJogador().getNome()</td>
                        <td>@registroPartidaJogador.getMapa().getNome()</td>
                        <td>@registroPartidaJogador.getStatusPartida.getDescricao</td>
                        <td>@registroPartidaJogador.getQtdEliminacoes</td>
                        <td>@registroPartidaJogador.getQtdBaixas</td>
                        <td>@registroPartidaJogador.getQtdDano</td>
                        <td>@registroPartidaJogador.getPorcetagemHS</td>
                        <td>@registroPartidaJogador.getQtdDanoUtilitario</td>
                        <td>@registroPartidaJogador.getQtdInimigosCegos</td>
                        <td>@registroPartidaJogador.getDataCadastro.getTime.format("dd MMMM yyyy - HH:mm:ss")</td>
                    </tr>
                }
                </tbody>
            </table>

            <nav aria-label="Paginação">
                <ul class="pagination justify-content-end">
                    @if(currentPage.hasPrev) {
                        <li class="page-item">
                            <a class="page-link" href="@link(currentPage.getPageIndex - 1, null, null)" aria-label="Anterior">
                                <span aria-hidden="true">&larr; Anterior</span>
                            </a>
                        </li>
                    } else {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Anterior</a>
                        </li>
                    }

                    <li class="page-item disabled" aria-current="page">
                        <a class="page-link" href="#">Mostrando @currentPage.getDisplayXtoYofZ(" de "," com o total de ")</a>
                    </li>

                    @if(currentPage.hasNext) {
                        <li class="page-item">
                            <a class="page-link" href="@link(currentPage.getPageIndex + 1, null, null)" aria-label="Próximo">
                                <span aria-hidden="true">Próximo &rarr;</span>
                            </a>
                        </li>
                    } else {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Próximo &rarr;</a>
                        </li>
                    }
                </ul>
            </nav>
        }

    </div>

</div>

}

<div id="modalCSV" class="modal fade" tabindex="-1" aria-labelledby="modalCSVLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalCSVLabel">Counter Strike Stats</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            @form(routes.RegistroPartidaJogadorController.salvarCSV(), Symbol("enctype") -> "multipart/form-data") {

                @CSRF.formField

                <div class="modal-body mt-3">
                    <h5>Cadastrar registro de jogadores a partir de um arquivo CSV</h5>
                    @arquivocsv(listForm("csv"), label = "Arquivo")
                </div>

                <div class="modal-footer">
                    <input data-loading-text="Loading..." id="btnEnviar" type="submit" value="Enviar" class="btn btn-success">
                </div>

            }

        </div>
    </div>
</div>

<!--<div id="modalImage" class="modal fade" tabindex="-1" aria-labelledby="modalImageLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalImageLabel">Counter Strike Stats</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            @form(routes.RegistroPartidaJogadorController.processarImagem(), Symbol("enctype") -> "multipart/form-data") {

            @CSRF.formField

            <div class="modal-body mt-3">
                <h5>Cadastrar registro de jogadores a partir de um arquivo Imagem</h5>
                @arquivojpeg(listForm("image"), label = "Arquivo")
            </div>

            <div class="modal-footer">
                <input data-loading-text="Loading..." id="btnEnviarImagem" type="submit" value="Enviar" class="btn btn-success">
            </div>

            }

        </div>
    </div>
</div>-->

<div id="modalExportarCSV" class="modal fade" tabindex="-1" aria-labelledby="modaLimparLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modaLimparLabel">Counter Strike Stats</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
                <p>Deseja realmente exportar todos os registros de partidas para um arquivo CSV?</p>
            </div>

            <div class="modal-footer">
                <a id="btnLimpar" class="btn btn-warning" href="@routes.RegistroPartidaJogadorController.exportar()">Exportar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

<script src="@routes.Assets.versioned("javascripts/registropartidajogadores/main.js")"></script>